@font-face {
  font-family: 'Basis Grotesque Pro';
  src: url(../fonts/BasisGrotesquePro-Regular.woff2) format('woff2'),
       url(../fonts/BasisGrotesquePro-Regular.woff) format('woff'),
       url(../fonts/BasisGrotesquePro-Regular.otf) format('opentype');
       font-display: fallback;
}

@font-face {
  font-family: 'Basis Grotesque Pro';
  src: url(../fonts/BasisGrotesquePro-Bold.woff2) format('woff2'),
       url(../fonts/BasisGrotesquePro-Bold.woff) format('woff'),
       url(../fonts/BasisGrotesquePro-Bold.eot) format('opentype');
       font-weight: 700;
       font-display: fallback;
}

@font-face {
  font-family: 'Basis Grotesque Pro';
  src: url(../fonts/BasisGrotesquePro-Light.woff2) format('woff2'),
       url(../fonts/BasisGrotesquePro-Light.woff) format('woff'),
       url(../fonts/BasisGrotesquePro-Light.eot) format('opentype');
       font-weight: 300;
       font-display: fallback;
}

body {
  font-family: "Basis Grotesque Pro", "Raleway", sans-serif;
  font-size: 16px;
  color: black;
  line-height: 1.5;
  letter-spacing: -0.03em;
}

.container {
  max-width: 1440px;
}

.regular-text {
  opacity: 0.6;
}

.minor-text {
  opacity: 0.35;
}

.header {
  padding: 24px 0 25px 50px;
}

.header-item {
  display: inline-block;
}

.logo-area {
  margin-right: 90px;
  position: relative;
}

.logo-area__logo {
  position: absolute;
  top: 3px;
}

.logo-area__text {
  margin: 0 0 0 50px;
}

.menu-area {
  margin-right: 234px;
}

.nav-item--bg-margin {
  margin-right: 63px;
}

.section {
  margin: 100px 0;
}

.program-header {
  padding-left: 210px;
  padding-bottom: 100px;
}

.section-header__tag {
  color: #0536FC;
  margin-bottom: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.section-header__title {
  line-height: 1.1;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 1.8em;
}

.main-title {
  font-size: 3.7em;
}

.nav-item:hover {
  background: #0536FC;
}
.nav-item:active {
  background: #0536FC;
}

.transition {
  transition: background 400ms ease-in, color 400ms ease-in;
}

.nav-link:hover {
  color: white;
}
.nav-link:visited {
  color: inherit;
}
.nav-link:visited:hover {
  color: white;
}

.menu-item:hover {
  background: white;
}
.menu-item::active {
  background: white;
}
.menu-item__link {
  color: black;
}
.menu-item__link:after {
  content: url(image/dropdown.svg);
  display: inline-block;
  position: relative;
  top: -2px;
  left: 10px;
}
.menu-item__link:hover {
  color: #0536FC;
}
.menu-item__link:hover:after {
  content: url(image/dropdown.svg);
  display: inline-block;
  transform: rotate(90deg);
}
.menu-item__link:active {
  color: #0536FC;
}
.menu-item__link:visited {
  color: inherit;
}
.menu-item__link:visited:hover {
  color: #0536FC;
}

.nav-active {
  color: #0536FC;
}

.btn-dropdown {
  color: #0536FC;
}
.btn-dropdown::after {
  content: url(image/dropdown.svg);
  color: #0536FC;
  padding-left: 10px;
}
.btn-dropdown:visited {
  color: #0536FC;
}

.header-arrow {
  margin: auto 34px 0 auto;
  float: right;
  animation: bounce 1s ease infinite;
}

@keyframes bounce {
  50% {
    transform: translateY(-7px);
  }
}/*# sourceMappingURL=style.css.map */